<!--<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <span style="color:red" class="error-container">              
        {{loginError}}
     </span>
    <form role="form" ng-submit="loginUser(user)" name="form1">
        <div class="form-group">
            <label>Username</label>
            <input required type="text" ng-model="user.userid" name="userid" class="form-control" >
            <span style="color:red" class="error-container" ng-show="form1.userid.$dirty && form1.userid.$invalid">
                    <small class="error" ng-show="form1.userid.$error.required">Required User Id</small>
                       
                </span>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input required type="password" ng-model="user.password" name="password" class="form-control">
       <span style="color:red" class="error-container" ng-show="form1.password.$dirty && form1.password.$invalid">
                    <small class="error" ng-show="form1.password.$error.required">Required Password</small>
                   
                </span>
             </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="#">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>-->

<div class="container">
     <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>



    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text"  class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg" >Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/#/signup">Signup</a></p>
    <p>Or go <a href="/home">home</a>.</p>
</div>